* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	background-color: #101020;
	color: aliceblue;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	text-align: center;
	font-size: 4rem;
}